IncidenciasGarum/ServicioWeb.ClienteConsola/Connected Services/ServiceFicherosGarumWCF/ServicioFicherosGarum1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiciosWeb.Datos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiciosWeb.Datos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfficherosgarum">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ficherosgarum" nillable="true" type="tns:ficherosgarum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfficherosgarum" nillable="true" type="tns:ArrayOfficherosgarum" />
  <xs:complexType name="ficherosgarum">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fecha_Estudio" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_Fichero" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDFichero" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre_Estacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_Fichero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TPV" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ficherosgarum" nillable="true" type="tns:ficherosgarum" />
</xs:schema>