IncidenciasGarum/ServicioWeb.ClienteConsola/Connected Services/ServiceFicherosGarumWCF/ServicioFicherosGarum.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:37964/ServicioFicherosGarum.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosWeb.Datos" />
  <xs:element name="ObtenerFicheros">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFicherosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosWeb.Datos" minOccurs="0" name="ObtenerFicherosResult" nillable="true" type="q1:ArrayOfficherosgarum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>